<!-- Nav-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="../assets/img/prysmian_logo.png" style="width:230px;">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="welcome">
                    <p>Welcome Framcis Corbin</p>
                </li>
                <li>
                    <p class="divider m-l-20">|</p>
                </li>
                <li>
                    <a href="../login.html">
                        <span class="hidden-lg hidden-md">
                            <i class="fas fa-sign-out-alt"></i>
                        </span> Logout</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
             
                <li>
                    <a href="" [routerLink]="['editplant']">Edit Plants</a>
                </li>
                <li>
                    <p class="divider">|</p>
                </li>
                <li>
                    <a href="" [routerLink]="['systeminfo']">System Information</a>
                </li>
                <li>
                    <p class="divider">|</p>
                </li>
                <li>
                    <a href="" [routerLink]="['help']">Help</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<!-- Nav END-->